<p>
  Hi <%= @user.name %> !<br />
  <br />
  This is a reminder for the following ticket:<br />
  Title: <%= @ticket.title %> <br />
  Description: <%= @ticket.description %> <br />
  Due Date: <%= @ticket.due_date %> <br />
</p>
